<html>

<head>
  <title>Your listing is live!</title>
</head>
<style>
  body {
    color: #000;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    line-height: 5px;
  }
</style>

<body>
  <p>Dear <%= name%>,</p>
  <br/>
  <p>This is to inform you that your listing on Jai Ambe Homes is live now.</p>
  <br/>
  <p>You can go to website and check it.</p>
  <br/>
  <p>Thank you for your patience.</p>
  <br/>
  <p>Regards</p>
  <p>Team</p>
</body>

</html>