<html>

<head>
  <title>Received new callback request</title>
</head>
<style>
  body {
    color: #000;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    line-height: 10px;
  }
</style>

<body>
  <p>Hello,</p>
  <br/>
  <p>You just received a call back request on your website.</p>
  <br/>
  <p>Details:</p>
  <p>Name : <%= name %></p>
  <p>Phone number : <%= phone %></p>
  <p>Message : <%= message %></p>
  <p>Time of submission : <%= date %></p>
  <br/>
  <p>You can log into your website to view these details.</p>
</body>

</html>