<html>

<head>
  <title>Your listing has been successfully submitted!</title>
</head>
<style>
  body {
    color: #000;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    line-height: 5px;
  }
</style>

<body>
  <p>Dear <%= name%>,</p>
  <br/>
  <p>This is to inform you that your listing on Jai Ambe Homes has been successfully submitted.</p>
  <br/>
  <p>It will be live in 24-48 hours post our approval and verification.</p>
  <br/>
  <p>Thank you for your patience.</p>
  <br/>
  <p>Regards</p>
  <p>Team</p>
</body>

</html>