<html>

<head>
  <title>Approval required for new listing</title>
</head>
<style>
  body {
    color: #000;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    line-height: 10px;
  }
</style>

<body>
  <p>Hello,</p>
  <br/>
  <p><%= name %> just submitted a new listing. Login to your website to approve the listing.</p>
 
</body>

</html>