<html>

<head>
  <title>Password Reset</title>
</head>
<style>
  body {
    color: #000;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
  }
</style>

<body>
  <p>Hello, <%= name %>
  </p>
  <p>Please click <a href="<%= verificationLink %>" rel="noopener noreferrer" target="_blank">here</a>
    to reset your password.
    Alternatively, go to following address on
    your browser:</p>
  <p><a href="<%= verificationLink %>" rel="noopener noreferrer" target="_blank">
      <%= verificationLink %>
    </a></p>
</body>

</html>